[run]
source =
  mercury_app
  mercury_site
omit =
    env/*
    */test*
    manage.py
    mercury_site/wsgi.py
    */tests/*,
    */migrations/*,
    */urls.py,
    */settings/*,
    */wsgi.py,
    */middleware.py,
    */apps.py,
    */__init__.py,
    mercury_app/filterview_fix.py,

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    if __name__ == '__main__':
