#fondo{
	background-image: url("../img/fondo_mercury.jpg");
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
}
#fondo_sin_imagen{
	background-size: cover;
	min-height: 84vh;
	background-attachment: fixed;
}

.dark-overlay{
  background:#EBDCE6;
	min-height: 84vh;
}
footer{
	background-color: #1E0A3C;
	color:white;
}
footer a{
	color: rgb(1 ,161 ,165);
}

.content--fullheight {
	min-height: 84vh;
}
 #first_form{
	font-family: 'Raleway';
	padding-top: 30vh;
	color:white;
	font-size: 3vh;
}
.topnavbar{
	margin-bottom: 0;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

#hip_not_underline {
	text-decoration: none;
}
.dot-co {
  height: 10px;
  width: 10px;
  background-color: #47EC34;
  border-radius: 50%;
  display: inline-block;
}
.dot-pa {
  height: 10px;
  width: 10px;
  background-color: #ECDA34;
  border-radius: 50%;
  display: inline-block;
}
.dot-pe {
  height: 10px;
  width: 10px;
  background-color: #EC3434;
  border-radius: 50%;
  display: inline-block;
}
.dot-padding {
   padding: 10px !important;
   margin: 10px !important;
}
i.icon-gray {
    color: gray;
}
i.icon-black {
    color: black;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.mercury-font {
  font-family: 'Roboto-Light';
  font-size: 30px;
  color: white;
  height: 40px;
  letter-spacing: 1.5px;
}

.mercury-font:hover {
  color: white;
  text-decoration: none;
}

.title {
  font-family: 'Roboto-Regular';
  font-size: 35px;
  color: black;
}

.subtitle{
  font-family: 'Roboto-LightItalic';
  font-size: 17px;
  color: grey;
  margin-left: 2px;
}

.jumbotron {
  background-color: transparent; 
}

.alerts {
  font-family: 'Roboto-Medium';
  font-size: 30px;
}

.event {
  font-family: 'Roboto-Regular';
  font-size: 27px;
  color: grey;
}

#mercury{
  text-decoration: none;
}

.navigation {
  color: grey;
  text-decoration: none;
  font-family: 'Roboto-Light'
}

.navigation:hover{
  text-decoration: none;  
}

.titleLogin{
  font-family: 'Roboto-Italic';
  font-size: 18px;
  color: #1E0A3C;
}

.loginEB {
  font-family: 'Roboto-LightItalic';
  font-size: 17px;
  color: white;
}
