{% load inlinecss %}
{% load i18n %}
{% inlinecss "css/email.css" %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% trans "Merchandise Handed" %}</title>
  </head>
  <body class="">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <span class="preheader">{% trans "We have delivered some items that you bought" %}</span>
            <table role="presentation" class="main">
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>{% trans "Hi there," %}</p>
                        <p>{% trans "You are receiving this email because some items of your order have been delivered" %}</p>
                        <div>
                          <h4>{% trans "Date" %}: {{date}}</h4>
                          <h4>{% trans "Operation type" %}: {{operation}}</h4>
                          <h4>{% trans "Order id" %}: {{order_id}}</h4>
                        </div>
                        {% for transaction in transactions %}
                        <hr>
                        <h3>{% trans "Type" %}: {{transaction.0}} ({{transaction.1}})</h3>
                        <h3>{% trans "Quantity" %}: {{transaction.2}}</h3>
                        {% endfor %}
                        <hr>
                        <p>{% trans "Contact the organizer for any questions related to this purchase" %}.</p>
                        <p>{% trans "This merchandise is not subject to Mercury Terms of Service, Privacy Policy, and Cookie Policy" %}.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Mercury</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
{% endinlinecss %}