{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
 <div class="row">
   <div class="container">
    <div class="row">
     <div class="col-12">
       <div class="jumbotron">
          <div class="mb-5">
            <p><a class="navigation" href="{% url 'index' %}"> Home &nbsp;&nbsp;>&nbsp;&nbsp;</a> <strong>{% trans "Delete event" %}</strong></p>
          </div>
        <h1 class="title">{% trans "Delete event" %}</h1>
      </div>
    </div>
  </div>
  <form action="{% url 'delete' event_id=event.eb_event_id %}" method="POST">
   <div class="row text-center">
     <div class="col-12">
       <p class="alerts">{% trans "You are about to delete the event" %} <strong> {{event.name}} </strong></p>
       {% csrf_token %}
       <div class="pt-3">
        <a href='{% url "index" %}' class="btn btn-outline-primary">{% trans "Cancel" %}</a>
        <input type="submit" name="delete" value="{% trans 'Delete' %}" class="btn btn-danger">
      </div>
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>

{% endblock %}