{% load inlinecss %}
{% inlinecss "css/email.css" %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Merchandise</title>
  </head>
  <body class="">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <span class="preheader">Your mechandise for {{event_name}} (#{{event_id}})</span>
            <table role="presentation" class="main">
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi there,</p>
                        <p>Here you have a PDF with the details of your purchase.</p>
                        <div>
                          <h4>Thanks for purchase.</h4>
                        </div>
                        <hr>
                        <p>Contact the organizer for any questions related to this purchase.</p>
                        <p>This merchandise is not subject to Mercury Terms of Service, Privacy Policy, and Cookie Policy.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Mercury</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
{% endinlinecss %}