{% extends 'base.html' %}
{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1>Merchandise</h1> 
        <p>Details</p>
        <div class="row ">
          <div class="col-12 text-right">
            <a href="{% url 'index'%}" class="btn btn-primary">View my events</a>
            <input type=button class="btn btn-outline-primary" value="Go Back" onClick="javascript:history.go(-1);">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if message %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <strong>{{ message }}</strong>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <div class="card bg-secondary text-white">
        <h5 class="card-header">Order details</h5>
        <div class="card-body">
          <h5 class="font-weight-light"><strong> {{ order.name }} </strong>  </h5>
          <h6 class="font-weight-light"><small>Order number </small> {{ order.eb_order_id }} </h6>
          <h6 class="font-weight-light"><small>Order Date </small> {{ order.created }} </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form id="delivery" action="{% url 'item_mercha' order_id=order_id %}" method="POST">
       {% for item in merchandising %}
       <br>
       <div class="card">
        <h5 class="card-header">{{ item.name }}</h5>
        <div class="card-body">
          <h6 class="font-weight-light"><small>Subtype</small> {{ item.item_type }} </h6>
          <h6 class="font-weight-light"><small>Sold</small> {{ item.quantity }} </h6>
          <h6 class="font-weight-light"><small>Unit value</small> {{ item.value }} </h6>
          <h6 class="font-weight-light"><small>Delivered</small>
            {% if item.quantity == item.items_left %}
            <td>No</td>
            {% elif item.items_left == 0%}
            <td>Yes</td>
            {% else %}
            <td>Partially</td>
            {% endif %}
          </h6>
          <h6 class="font-weight-light"><small>Items left</small> {{ item.items_left }} </h6>
          <h6 class="font-weight-light"><small>Amount to deliver</small>
            <script type="text/javascript">
              var max_value = "{{ item.items_left }}";
            </script>
            <input type=button value='-' class="btn btn-info btn-sm" id="minus{{ item.eb_merchandising_id }}"onclick='javascript:process(-1, "{{ item.eb_merchandising_id }}", {{ item.items_left }})'>
            <input readonly="readonly" type=text form="delivery" size="2" id='{{ item.eb_merchandising_id }}' name='{{ item.eb_merchandising_id }}' value='0'>
            <input type=button value='+' class="btn btn-info btn-sm" id="plus{{ item.eb_merchandising_id }}" onclick='javascript:process(1, "{{ item.eb_merchandising_id }}", {{ item.items_left }})'>
          </h5>
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col text-right m-2">
          <button type="submit" form="delivery" class="btn btn-outline-success" value="Submit">Mark as delivered</button></td>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
<script language=javascript>
  function process(v, target, max){
    var value = parseInt(document.getElementById(target).value);
    if (max == 0){
      value = 0;
    }else if (value == 0) {
      if (v==1){
        value +=v;
      }else{
        value = value;
      }
    }else if (value == max && max != 0) {
      if (v==-1){
        value +=v;
      }else{
      }
    }else if (value < max) {
      value+=v;
    } else if (max == 0) {
      value = 0
    }
    document.getElementById(target).value = value;
  }
</script>
{% endblock %}