{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
    {% if message %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %}
<div id="fondo_sin_imagen" >
  <div class="container">  
   <div class="row">
    <table class="table">
      <h1>Merchandise</h1>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name owner</th>
          <th scope="col">Value</th>
          <th scope="col">Delivered</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
       {% for mercha in merchas %}
       <tr>
        <td>{{mercha.name}}</td>
        <td>{{ mercha.value}}</td>
        <td>{{ mercha.delivered }}</td>
        <td><a href="#" class="btn btn-success">Hand</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class = "row text-center">
    <div class="col-3"> </div>
    <div class="col-6">
      {% if pagination.has_previous %}
      <a href="?page={{ pagination.previous_page_number }}" class="btn btn-info"><</a>
      {% endif %}
      <span class="text-info">Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.</span>
      {% if pagination.has_next %}
      <a href="?page={{ pagination.next_page_number }}" class="btn btn-info" >></a>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
