% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
    {% if message %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %}
<div id="fondo_sin_imagen" >
  <div class="container">
   <div class="row">
      <h1>Commentary</h1>
      <p>Do you want to add a comment?</p>
        <input type=button class="btn btn-primary" value="Add" onClick="">
        <input type=button class="btn btn-primary" value="Go Back" onClick="">
  <div class = "row text-center">
    <div class="col-3"> </div>
    <div class="col-6">
      {% if pagination.has_previous %}
      <a href="?page={{ pagination.previous_page_number }}" class="btn btn-info"><</a>
      {% endif %}
      <span class="text-info">Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.</span>
      {% if pagination.has_next %}
      <a href="?page={{ pagination.next_page_number }}" class="btn btn-info" >></a>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
