{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

    <div class="container">
        {% block body %}

      <h1>Orders <small> Of {{ event_name }}</small></h1>

                        <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
<input type=button class="btn btn-outline-primary" value="Go Back" onClick="javascript:history.go(-1);">
    </div>
  </div>

            {% if filter %}
                <div class="col-sm-10">
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                </div>
            {% endif %}
            <div class="col-sm-10">
                {% render_table table %}
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}