{% extends 'base.html' %}
{% load sekizai_tags %}
{% block content %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% addtoblock "js" %}
<script>
    function getParams() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
    $(function() {
        var name;
        var eb_order_id;
        if (getParams()['name'] == null) {
            name = '';
        }else{
            name = getParams()['name'];
        }
        if (getParams()['eb_order_id'] == null) {
            eb_order_id = '';
        }else{
            eb_order_id = getParams()['eb_order_id'];
        }
        $("#id_merch_status").hide();
        $("#co-nav").attr("href", "?name="+name+"&eb_order_id="+eb_order_id+"&merch_status=CO");
        $("#pa-nav").attr("href", "?name="+name+"&eb_order_id="+eb_order_id+"&merch_status=PA");
        $("#pe-nav").attr("href", "?name="+name+"&eb_order_id="+eb_order_id+"&merch_status=PE");
        $("#all-nav").attr("href", "?name="+name+"&eb_order_id="+eb_order_id+"&merch_status=");

        switch(getParams()['merch_status']) {
            case 'CO':
            $("#co-nav").addClass('active');
            break;
            case 'PA':
            $("#pa-nav").addClass('active');
            break;
            case 'PE':
            $("#pe-nav").addClass('active');
            break;
            default:
            $("#all-nav").addClass('active');
        }
    });
</script>
{% endaddtoblock %}
<div class="container mb-5" >
    {% block body %}
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
            <div class="mb-5">
                <p><a class="navigation" href="{% url 'index' %}"> {% trans "Home" %} &nbsp;&nbsp;>&nbsp;&nbsp;</a><a class="navigation" href="{% url 'summary' event_id=event_eb_event_id %}"> {% trans "Summary" %} &nbsp;&nbsp;>&nbsp;&nbsp;</a><strong> {% trans "Event orders" %} </strong> </p>
            </div>
            <div class="row">
                <div class="col col-md-9">
                  <h1 class="title">{% trans "Event Orders" %}</h1>
                  <p class="event">{{ event_name }}</p>
              </div>
              <div class="col col-md-3 text-center text-md-right mt-4">
               <a class="navbar-right btn btn-info" href="{% url 'scanqr' event_id=event_eb_event_id %}">{% trans "Scan QR" %}</a>
           </div>
       </div>
   </div>
</div>
</div>
{% if order_count == 0 %}
<div class="row">
  <div class="col-12">
    <div class="alert alert-warning">
      <strong>{% trans "Oops" %}!</strong> {% trans "It looks like there are no orders with merchandise yet. If you think this is a mistake, we can check your orders again" %}.
  </div>
</div>
</div>
{% endif %}
<div class="row">
    <div class="col-12 text-center ">
        {% if filter %}
        <form action="" method="get" class="form-inline justify-content-center">
            {% bootstrap_form filter.form layout='inline' %}
            <div class="form-group is-valid">
                <button class="btn btn-outline-secondary">{% trans "Filter" %}</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 text-center table-responsive">
        {% render_table table %}
    </div>
</div>
</div>
{% endblock %}
</div>
{% endblock %}