{% extends 'base.html' %}
{% load static %}
{% block jsbottom %}
<script type="text/javascript" src="{% static 'js/qrcodelib.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webcodecamjs.js' %}"></script>
<script type="text/javascript">
    beepSound = new Audio("{% static 'audio/beep.ogg' %}");
    function beep() {
        if (beepSound) {
            beepSound.play();
        }
    }
    var arg = {
        resultFunction: function(result) {
            decoder.pause();
            beep();
            var url = '/event/'+{{event_id}}+'/scanqr/';
            var form = $('<form action="' + url + '" method="post">' +
              '<input type="text" name="code" value="' + result.code + '" />' +
              '<input type="text" name="org" value="' + {{organization_id}} + '" />' +
              '<input type="text" name="event" value="' + {{event_id}} + '" />' +
              "{% csrf_token %}" +
              '</form>');
            $('body').append(form);
            form.submit();

        }
    };
    var decoder = new WebCodeCamJS("canvas").buildSelectMenu('select', 'environment|back').init(arg).play();
    if (navigator.userAgent.match(/iPhone/i)) {
        decoder.options.video.facingMode = "back";
    }
    document.querySelector('select').addEventListener('change', function(){
        decoder.stop().play();
    });
</script>
{% endblock %}

{% block content %}
<div class="container pb-5">

    <div class="row">
        <div class="container">
           <div class="row">
              <div class="col-12">
                <div class="jumbotron">
                  <h1>QR Scan</h1>
                  <p>Please scan the QR Code in the attendee's ticket</p>
                  <div class="row ">
                    <div class="col-12 text-right">
                      <a class="navbar-right btn btn-info" href="{% url 'orders' event_id=event_id %}">Orders</a>
                      <a href="{% url 'summary' event_id=event_id %}" class="btn btn-outline-info">Summary</a>

                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <canvas></canvas>
          <hr>
          <select></select>
      </div>
      <div class="col-sm">
      </div>

  </div>
</div>
</div>
</div>
{% endblock %}