{% extends 'base.html' %}
{% block content %}
{% autoescape on %}

<div id="fondo_sin_imagen" >
  <div class="container">
    {% if message %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning">
          <strong>{{ message }}</strong>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <div class="mb-5">
            <p><a href="{% url 'index' %}"> Home </a>&nbsp;&nbsp;>&nbsp;&nbsp; Add event </p>
          </div>
          <h1 class="title">Add events</h1>
          <p class="subtitle">Here is a list of your events at Eventbrite. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if events%}
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Event name</th>
              <th scope="col">Start date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
           {% for event in events %}
           <tr>
            <td>{{ event.name.text }}</td>
            <td>{{ event.start.local }}</td>
            <td>
              <form action="{% url 'select_events' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_event" value="{{ event.id }}">
                <input type="hidden" name="organization_id" value="{{ event.organization_id }}">
                <input type="hidden" name="organization_name" value="{{ event.org_name }}">
                <input type="submit" name="" value="Manage" class="btn btn-outline-success">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row mb-4">
        <div class="col-12 text-center">
          {% if has_previous %}
          <a href="?page={{ previous_page_number }}" class="btn btn-info"><</a>
          {% endif %}
          <span class="text-info">Page {{ number }} of {{ num_pages }}.</span>
          {% if has_next %}
          <a href="?page={{ next_page_number }}" class="btn btn-info" >></a>
          {% endif %}
        </div>
      </div>
      {% else %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning">
          <strong>You have not events on this pagination</strong>
        </div>
      </div>
    </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endautoescape %}
{% endblock %}
