{% extends 'base.html' %}
{% block content %}

<div id="fondo_sin_imagen" >
  <div class="container">
    {% if message %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning">
          <strong>{{ message }}</strong>
      </div>
    </div>
    </div>
    {% endif %}
     <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1>Add events!</h1> 
          <p>Here you have a list of your events in Eventbrite</p> 
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start date</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
       {% for event in pagination %}
       <tr>
        <td>{{ event.name.text }}</td>
        <td>{{ event.start.local }}</td>
        <td>
          <form action="{% url 'select_events' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <input type="hidden" name="organization_id" value="{{ event.organization_id }}">
            <input type="hidden" name="organization_name" value="{{ event.org_name }}">
            <input type="submit" name="" value="Manage" class="btn btn-success">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row">
   <div class="col-12">
    <a class="btn btn-primary btn-block text-white" onClick="javascript:history.go(-1);">Go back</a>
   </div>
 </div>
 <div class="row">
  <div class="col-12 text-center">
    {% if pagination.has_previous %}
    <a href="?page={{ pagination.previous_page_number }}" class="btn btn-info"><</a>
    {% endif %}
    <span class="text-info">Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.</span>
    {% if pagination.has_next %}
    <a href="?page={{ pagination.next_page_number }}" class="btn btn-info" >></a>
    {% endif %}
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
