{% extends 'base.html' %}

{% block import%}
<link href="node_modules/britecharts/dist/css/common/common.css">
<link href="node_modules/britecharts/dist/css/charts/line.css">
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css" type="text/css" />

{% endblock %}

{% block content %}

<div class="container pb-5">

	<div class="row">
    <div class="container">
     <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1>Summary</h1>
          <p>{{ event.name }}</p>
          <div class="row ">
            <div class="col-12 text-right">
              <a class="navbar-right btn btn-info" href="{% url 'orders' event_id=event.eb_event_id %}">Event orders</a>
              <a class="btn btn-outline-primary" href="{% url 'index'%}" >My events</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if message %}
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning">
          <strong>{{ message }}</strong>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12 text-center">
        <h2>Delivery rate</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="js-donut-container embed-responsive text-center">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="js-legend-container embed-responsive text-center">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_0">
        </div>
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_legend_0">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_1">
        </div>
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_legend_1">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_1">
        </div>
        <div class="text-center sub-cont embed-responsive" id="subtipe-container_legend_1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center sub-cont" id="subtipe-container_0">
        </div>
        <div class="text-center sub-cont" id="subtipe-container_legend_0">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center sub-cont" id="subtipe-container_1">
        </div>
        <div class="text-center sub-cont" id="subtipe-container_legend_1">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center sub-cont" id="subtipe-container_1">
        </div>
        <div class="text-center sub-cont" id="subtipe-container_legend_1">
        </div>
      </div>
    </h1>
    <div class="js-donut-container text-center row">
    </div>
    <div class="js-legend-container text-center">
    </div>
    <div class="container">
    </div>
    <div class="row text-center" id="subtipe-container">
    </div>
    <div class="row text-center" id="subtipe-container_legend">
    </div>

  </div>

</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  let data_handed = {{ data_handed_over_dont |safe }};
  let data_tipes_handed = {{ data_tipes_handed |safe }};
  let colors = britecharts.colors.colorSchemas
  let colors_array = [colors.green, colors.red, colors.britecharts, colors.purple, colors.teal, colors.orange];
  let donutChart = britecharts.donut()
  let legendChart = britecharts.legend()
  donutChart
  .width(290)
  .isAnimated(true)
  .height(290)
  .on('customMouseOver', function(data) {
    legendChart.highlight(data.data.id);
  })
  .on('customMouseOut', function() {
    legendChart.clearHighlight();
  });
  d3.select('.js-legend-container').datum(data_handed).call(legendChart);
  d3.select('.js-donut-container').datum(data_handed).call(donutChart);
  for (var i = 0; i <= data_tipes_handed.length; i++) {
    let donutChartSubtipe = britecharts.donut()
    let legendChartSubtipe = britecharts.legend()
    donutChartSubtipe
    .width(275)
    .isAnimated(true)
    .height(275)
    .colorSchema(colors_array[i])
    .on('customMouseOver', function(data) {
      legendChartSubtipe.highlight(data_tipes_handed[i][0].id);
    })
    .on('customMouseOut', function() {
      legendChartSubtipe.clearHighlight();
    });
    legendChartSubtipe.colorSchema(colors_array[i]);
    d3.select('#subtipe-container_'+ i).datum(data_tipes_handed[i]).call(donutChartSubtipe);
    d3.select('#subtipe-container_' + i).datum(data_tipes_handed[i]).call(legendChartSubtipe);
  }
</script>
{% endblock %}