{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <div class="mb-5">
          <p><a href="{% url 'index' %}"> {% trans "Home" %} </a>&nbsp;&nbsp;>&nbsp;&nbsp; <a href="{% url 'summary' event_id=event_id %}"> {% trans "Summary" %} </a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{% url 'orders' event_id=event_id %}"> {% trans "Event orders" %} </a>&nbsp;&nbsp;>&nbsp;&nbsp; <a href="{% url 'orders' event_id=event_id %}"> {% trans "Order Details" %}</a>&nbsp;&nbsp;>&nbsp;&nbsp; {% trans "Transaction Detail" %}</p>
        </div>
        <h1 class="title">{% trans "Transactions Detail" %}</h1>
        <p class="subtitle">{% trans "Detailed transactions for order" %} #{{order_number}} {% trans "from" %} {{order_name}}</p>
      </div>
    </div>
    {% render_table table %}
  </div>
</div>
</div>
{% endblock %}
